body{
    font-family: Arial, Helvetica, sans-serif;
}
#videoContainer {
  margin-bottom: 20px;
}

div#container {
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
}


h3 {
font-family: 'Bowlby One SC', cursive;
color: #673AB7;
font-size: 30px;
}

input[type="file"] {
/* Estilos básicos */
background: linear-gradient(135deg, #8B00FF, #00FFFF);
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
cursor: pointer;
transition: background 0.3s, box-shadow 0.3s;
}

input[type="file"]:hover {
/* Estilos en hover */
background: linear-gradient(45deg, #8B00FF, #00FFFF);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input[type="file"]::-webkit-file-upload-button {
display: inline-block;
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #252525;
color: white;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s ease;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="file"]::-webkit-file-upload-button:hover {
background-color: #484848;
}

input[type="file"]::-webkit-file-upload-button:focus {
outline: none;
box-shadow: none;
}

h1 {
text-align: center;
font-family: 'Bowlby One SC', cursive;
color: #242424;
font-size: 30px;
}

div#hideshowVideo {
width: 100%;
text-align: center;
background-color: whitesmoke;
margin: 50px 0px;
padding: 50px;
}

#containerButton{
margin-top:25px;
}

/* Estilos para los botones */
button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:  #252525;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color:#484848;
}

button:focus {
  outline: none;
  box-shadow:none;
}

/* Estilos para los iconos */
button i {
  margin-right: 5px;
}